/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica';
	font-size: 20px;
	background:#ABE188;
}
#cabecera{
	background-color: #ABE188;
	padding: 50px 40px;
	color: white;
}
#holapanda{
	background: url('../img/uno.jpg');
	margin-top:50px;
	margin-bottom: 50px;
}
.color{
 
   /*margin-top: 50px solid lightgreen;*/
    border-top: 50%;
    border-bottom: 50%;
    border-left: 100%;
    border-right: 100%;
}

.texto{
	font-family: 'verdana';
	font-size:10px;
	text-align: center;
    
}
#holapanda2{
	background: url('../img/dos.jpg');
	margin-top: 20px;
}


